{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!-- Styles block -->

{%block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{%endblock%}
<!-- Content block -->
{%block content%}

<div class="container" style="padding-top: 60px; text-align: center; padding-bottom: 60px;">
    <a href="{{url_for('main.new_pitch')}}" class="btn btn-warning txt-center">Create Pitch</a>
</div>

<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col-md-4">
            <div class="well well-lg">
                <h3><b>BUSINESS PITCHES</b></h3>
                <p>The goal of a business pitch is generally to secure the resources and funding necessary to move forward with a business plan or to continue with an already established business or venture.</p>
                <a href="{{url_for('main.interview_pitches')}}" class="btn btn-success">View</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-lg">
                <h3><b>TECHNOLOGY PITCHES</b></h3>
                <p>Tech Domains believes in the power of innovative ideas to build the future. </p>
                <a href="{{url_for('main.product_pitches')}}" class="btn btn-success">View</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-lg">
                <h3><b>INSPIRATIONAL PITCHES</b></h3>
                <p>Motivational pitch is a good method to animate your clients or citizens to act in preferred direction – by starting to use some new technology or product or to change behavior</p>
                <a href="{{url_for('main.promotion_pitches')}}" class="btn btn-success">View</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}